.Homecontainer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-image: url('../../img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.homeContent{
    width: 45%;
    margin: 2.5%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hello{
    width: 45%;
    margin: 2.5%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slogan{
  color: #FFDE59;
}

.headerText{
    font-weight: bold;
    font-size: 75px;
    color: #c4b3a1;
    text-shadow: 2px 2px #383737;
}

@media screen and (max-width:480px) {

    .Homecontainer .homeContent{
        width: 70%;
    }
    .Homecontainer .homeContent img{
        width: 250px;
    }
    .hello p{
        font-size: 12px;
    }
    .hello h1{
        font-size: 25px;
    }
}
@media screen and (max-width:760px) {

    .Homecontainer .homeContent img{
        width: 300px;
    }
    .hello p{
        font-size: 13px;
    }
    .hello h1{
        font-size: 30px;
    }
}
